@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?wubmj2');
    src: url('../fonts/icomoon.eot?wubmj2#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wubmj2') format('truetype'),
        url('../fonts/icomoon.woff?wubmj2') format('woff'),
        url('../fonts/icomoon.svg?wubmj2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: aliceblue;
}

* {
    margin: 0px;
    padding: 0px;
}

input {
    width: 310px;
    height: 25px;
    outline: none;
    padding-left: 5px;
    color: rgb(185, 183, 183);
}

select {
    outline: none;
    color: rgb(185, 183, 183);
}

li {
    list-style: none;
}

.w {
    width: 960px;
    margin: 0px auto;
}

.header {
    position: relative;
    height: 72px;
    border-bottom: 3px solid red;
    background-color: white;
}

.nav {
    float: right;
}

.nav li {
    float: left;
    width: 60px;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.nav li:last-child {
    margin-right: 5px;
}

.nav li:first-child::before {
    content: "\e974";
    font-family: 'icomoon';
    margin-right: 5px;
    color: red;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}

.nav p a {
    text-decoration: none;
}

.nav p {
    float: right;
    font-size: 12px;
    margin-right: 15px;
    padding-top: 5px;
}

.nav p a:hover {
    text-decoration: underline;
}

.nav li:nth-child(even) {
    height: 10px;
    width: 0px;
    border-left: 1px solid rgb(133, 132, 132);
    margin: 0px 5px;
    margin-top: 9px;
}

.nav li:nth-child(7)::after {
    content: '';
    width: 0px;
    height: 0px;
    line-height: 0;
    font-size: 0;
    border: 4px solid transparent;
    border-top-color: #666;
    margin-right: -5px;
    margin-left: 3px;
}

.nav li:nth-child(5)::after {
    content: '';
    width: 0px;
    height: 0px;
    line-height: 0;
    font-size: 0;
    border: 4px solid transparent;
    border-top-color: #666;
    margin-right: -5px;
    margin-left: 3px;
}

.main {
    margin-top: 25px;
    margin-left: 15px;
    width: 950px;
    height: 1200px;
    border: 1px solid transparent;
    background-color: white;
    box-shadow: -10px 10px rgb(228, 225, 225);
}

.regiser {
    margin: 25px 10px 0px 10px;
    height: 45px;
    border-bottom: 1px solid rgb(228, 225, 225);
    padding-left: 25px;
}

.regiser>a {
    display: inline-block;
    text-decoration: none;
    color: #666;
    width: 135px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: rgb(207, 204, 204);
}

.regiser .qiye_regiser {
    border: 1px solid pink;
    border-bottom: 0px;
    background-color: white;
}

.regiser p {
    float: right;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.regiser p a {
    float: right;
    color: white;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    text-decoration: none;
    background-color: gray;
}

.regiser p a:hover {
    text-decoration: underline;
}

.img {
    width: 950px;
    height: 200px;
    margin-top: 10px;
    background: url('../image/login_qiye4.png') no-repeat;
}

.border_img {
    width: 950px;
    height: 45px;
    background: url('../image/qiye_tel.png');
    line-height: 45px;
    text-align: center;
}

.border_img a {
    text-decoration: none;
    font-size: 10px;
}

.tips {
    margin-left: 130px;
    margin-top: 15px;
    width: 695px;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    background-color: rgb(240, 212, 203);
    opacity: .5;
    border: 1px solid rgb(231, 151, 77);
}

.tips a {
    text-decoration: none;
}

.tips span::before {
    font-family: 'icomoon';
    content: '\eb9b';
    margin-left: 3px;
    color: rgb(245, 73, 10);
}

.mesage {
    margin-left: 180px;
    margin-top: 20px;
}

.mesage p:first-child strong::before {
    content: '\e964';
    font-family: 'icomoon';
    margin-right: 5px;
}

.mesage ul {
    position: relative;
    margin-left: 50px;
    margin-bottom: 25px;
}

.mesage ul .one {
    position: absolute;
    top: 30px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .one_ {
    position: absolute;
    top: 30px;
    left: 115px;
    display: none;
    color: red;
    font-size: 12px;
}

.mesage ul .one__ {
    position: absolute;
    top: 30px;
    left: 115px;
    display: none;
    color: red;
    font-size: 12px;
}

.mesage ul .one___ {
    position: absolute;
    top: 30px;
    left: 115px;
    display: none;
    color: red;
    font-size: 12px;
}

.mesage ul .two {
    position: absolute;
    top: 80px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .three {
    position: absolute;
    top: 130px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .four {
    position: absolute;
    top: 30px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .five {
    position: absolute;
    top: 120px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .six {
    position: absolute;
    top: 170px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .seven {
    position: absolute;
    top: 220px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .eight {
    position: absolute;
    top: 270px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul .nine {
    position: absolute;
    top: 320px;
    left: 115px;
    display: none;
    color: rgb(180, 178, 178);
    font-size: 12px;
}

.mesage ul li {
    margin-top: 20px;
}

.mesage span {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.mesage ul li .right {
    float: right;
    display: none;
    width: 15px;
    height: 14px;
    background: url('../image/icon_qiye.png') 0px -38px;
    transform: translate(-275px, 4px);
}

.mesage p:nth-child(3) strong::before {
    content: '\e93b';
    font-family: 'icomoon';
    margin-right: 5px;
}

.input_width {
    width: 180px;
}

.radio {
    width: 15px;
    font-size: 5px;
    float: left;
    margin-right: 5px;

}

.font_w {
    font-size: 10px;
    width: 500px;
    height: 26px;
    line-height: 26px;
    margin-left: 150px;
    margin-top: -5px;
}

.submit {
    width: 150px;
    height: 40px;
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: red;
    color: aliceblue;
    border: 0px;
}

.xinyonghu {
    display: none;
}

.nav_two {
    position: absolute;
    top: 20px;
    right: 289px;
    width: 60px;
    display: none;
    background-color: white;
}

.nav_two ul li {
    text-align: center;
}

.nav_two ul li a {
    text-decoration: none;
    font-size: 12px;
    color: black;

}

.nav_one {
    position: absolute;
    top: 20px;
    right: 218px;
    display: none;
    width: 60px;
    background-color: white;
}

.nav_one ul li {
    text-align: center;
}

.nav_one ul li a {
    text-decoration: none;
    font-size: 12px;
    color: black;

}